{% extends 'base.html.twig' %}

{# Declaration d'une variable #}
{% set firstvar = 'firstvalue' %}
{% set secondvar = 'secondevalue' %}
{% set obj = { 'key1' : 'value1','key2' : 'value2' } %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Books Store</h1>
    <div class="row">
        <div class="col-3">
        Sidebar-{{ firstvar }}
        </div>
        <div class="col-9">
        Content panel
        <br>
        {% for key,val in obj %}
         {{ loop.index0 }} Item : {{ val }} <br>
        {% endfor %}
        </div>
    </div>
</div>
{# Bocle for #}

{% endblock %}
