{% extends 'base.html.twig' %}

{# Declaration d'une variable #}
{% set firstvar = 'firstvalue' %}
{% set secondvar = 'secondevalue' %}
{% set obj = { 'key1' : 'value1','key2' : 'value2' } %}

{% block title %}Hello HomePageController!{% endblock %}

{% block sidebar %} {{ parent() }} {% endblock %}

{% block content %}

<div class="container">
    <h1>Books Store</h1>
    <div class="row">
        <div class="col-3">
        Sidebar-{{ firstvar }}
        </div>
        <div class="col-9">
        Content panel
        <br>
        {% for key,val in obj %}
         {{ loop.index0 }} Item : {{ val }} <br>
        {% endfor %}
        </div>
    </div>
</div>
 <h1>Homepage</h1>

    <hr>

    <h3>is_grantted (levels) : </h3> 

    <br><strong>IS_AUTHENTICATED_REMEMBERED (cookie) : </strong>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            Yes
        {% else %}
            No
        {% endif %} 


    <br><strong>IS_AUTHENTICATED_FULLY : </strong>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Yes
        {% else %}
            No
        {% endif %} 


    <br><strong>IS_AUTHENTICATED_ANONYMOUSLY : </strong>
        {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
            Yes
        {% else %}
            No
        {% endif %}

    <hr>

    <h3>Refuser l'accès à un utilisateur dans les controllers</h3>

    <pre>$this->denyAccessUnlessGranted('IS_AUTHENTICATED_FULLY');</pre>

{% endblock %}
