{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block sidebar %}{% endblock %}
{% block content %} 
<div class="example-wrapper">
    <h1>{{ title }}</h1>
    {% include "books/form.html.twig" %}
</div>
{% endblock %}
