{% extends 'base.html.twig' %}

{% block title %}Hello BooksController!{% endblock %}

{% block content %}

  <p>Voulez vous réélement supprimer l'entrée ?</p>
  <form method="POST"  action="{{ app.request.uri }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id ) }}">

    <button type="submit" class="btn btn-danger" data-dismiss="modal">OUI</button>
    <button type="button" class="btn btn-success" onclick="window.location.href='{{ path('books:read', {'id':book.id}) }}'">NON</button>      
  </form>
   
{% endblock %}
