{% extends 'base.html.twig' %}

{% block title %}Hello BooksController!{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>
    <p> <strong> Titre du livre : </strong>  {{ book.title }} </p>
    <p> <strong> Déscription du livre : </strong> {{ book.description}} </p>
    <p> <strong> Déscription du livre :Prix du livre : </strong> {{ book.price }}</p>
</div>
{% endblock %}
