{% extends 'base.html.twig' %}

{% block title %}Hello BooksController!{% endblock %}

{% block content %}
<div class="example-wrapper">
    <h1>{{ title }}</h1>
    {% include "books/form.html.twig" %}
</div>
</div>
{% endblock %}
